@font-face {
	font-family: Vetrino;
	font-weight: 100-900;
	src: url(../assets/Vetrino.woff2) format('woff2');
}

@font-face {
	font-family: Sequencia;
	src: url(../assets/Sequencia.woff) format('woff');
}

#occasion {
	font-size: 2rem;
	margin: 0;
	margin-top: 5rem;
	padding: 0% 2%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: white;
	color: black;

	h2 {
		text-align: start;
		margin: 0;
	}

	&>.image-area-mobile {
		display: none;
	}

	&>.image-area {
		position: relative;
		color: white;
		flex-grow: 1;
		height: 100vh;
		font-family: Vetrino;
		font-size: 2rem;
		color: black;

		&>.product_element {
			position: absolute;
			display: flex;

			&>div:nth-of-type(1) {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&>.product_element:nth-of-type(1) {
			left: 24vw;
			top: 0;

			&>div:nth-of-type(1) {
				width: 28vw;
				height: 70vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 43vh;
				font-size: 4rem;
				width: 30%;
				max-width: 40%;
				line-height: 3rem;
			}
		}

		&>.product_element:nth-of-type(2) {
			left: 7.5vw;
			top: 53vh;

			&>div:nth-of-type(1) {
				width: 14vw;
				height: 29vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 22vh;
				width: 30%;
				max-width: 40%;
			}
		}

		&>.product_element:nth-of-type(3) {
			left: 62vw;
			top: 15vh;

			&>div:nth-of-type(1) {
				width: 8vw;
				height: 24vh;
			}

			&>div:nth-of-type(2) {
				padding: 2px;
				width: 100%;
				max-width: 60%;
			}
		}

		&>.product_element:nth-of-type(4) {
			left: 59vw;
			top: 58vh;

			&>div:nth-of-type(1) {
				width: 13vw;
				height: 24vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 15vh;
				width: 30%;
				max-width: 40%;
			}
		}

		&>.product_element:nth-of-type(5) {
			left: 74vw;
			top: 31vh;

			&>div:nth-of-type(1) {
				width: 10vw;
				height: 26vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				width: 30%;
				max-width: 40%;
			}
		}
	}

	&>.btn {
		font-size: 2rem;
		padding: 0.5% 4%;
		position: relative;

		a {
			color: black;
			text-decoration: none;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			gap: 10%;
			padding: 10px 3%;
			border-radius: 25px;
			float: right;
			font-weight: 600;
			background-color: #de83a0;
			transition: 0.2s ease-in-out;

			span {
				font-size: 2rem;
				font-weight: 800;
			}
		}

		a:hover {
			font-size: 2.2rem;

			span {
				font-size: 2.2rem;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	#occasion {
		padding: 3px;

		height: fit-content;

		.image-area {
			display: none;
		}

		.image-area-mobile {
			display: flex;
			flex-direction: column;

			&>.product_element {
				padding: 0;
				margin: 2rem 0;

				&>div:nth-of-type(1) {
					img {
						width: 100%;
						object-fit: cover;
					}
				}

				&>div:nth-of-type(2) {
					font-family: Vetrino;
					font-size: 2rem;
				}
			}
		}

		&>.btn {
			width: 80%;
			padding: 0;
			margin: 0 auto;

			a {
				float: none;
			}
		}
	}
}
