@font-face {
	font-family: Vetrino;
	font-weight: 100-900;
	src: url(../assets/Vetrino.woff2) format('woff2');
}

@font-face {
	font-family: Sequencia;
	src: url(../assets/Sequencia.woff) format('woff');
}

* {
	box-sizing: border-box;
}

#occasion {
	* {
		transition: 0.2s ease-in-out;
	}

	font-size: 2rem;
	margin: 5rem 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	width: 100%;
	padding: 0 2%;

	h2 {
		text-align: start;
		margin: 0;
	}

	&>.image-area {
		position: relative;
		color: white;
		flex-grow: 1;
		height: 100vh;
		font-family: Vetrino;
		font-size: 2rem;
		color: black;

		&>.product_element {
			position: absolute;
			display: flex;

			&>div:nth-of-type(1) {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&>.product_element:nth-of-type(1) {
			left: 18vw;
			top: 0;

			&>div:nth-of-type(1) {
				width: 28vw;
				height: 70vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 43vh;
				font-size: 3.5rem;
				max-width: 40%;
				line-height: 3rem;
			}
		}

		&>.product_element:nth-of-type(2) {
			left: 2vw;
			top: 53vh;

			&>div:nth-of-type(1) {
				width: 14vw;
				height: 29vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 22vh;
				width: 30%;
				max-width: 40%;
			}
		}

		&>.product_element:nth-of-type(3) {
			left: 58vw;
			top: 15vh;

			&>div:nth-of-type(1) {
				width: 8vw;
				height: 24vh;
			}

			&>div:nth-of-type(2) {
				padding: 2px;
				width: 100%;
				max-width: 60%;
			}
		}

		&>.product_element:nth-of-type(4) {
			left: 53vw;
			top: 58vh;

			&>div:nth-of-type(1) {
				width: 13vw;
				height: 24vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				padding-top: 15vh;
				width: 30%;
				max-width: 40%;
			}
		}

		&>.product_element:nth-of-type(5) {
			left: 71vw;
			top: 31vh;

			&>div:nth-of-type(1) {
				width: 10vw;
				height: 26vh;
			}

			&>div:nth-of-type(2) {
				padding: 4px;
				max-width: 60%;
			}
		}
	}

	&>.btn {
		font-size: 2rem;
		padding: 0.5% 4%;
		position: relative;

		a {
			color: black;
			text-decoration: none;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			gap: 10%;
			padding: 10px 3%;
			border-radius: 25px;
			float: right;
			font-weight: 600;
			background-color: #de83a0;
			transition: 0.2s ease-in-out;

			span {
				font-size: 2rem;
				font-weight: 800;
			}
		}

		a:hover {
			font-size: 2.2rem;

			span {
				font-size: 2.2rem;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	#occasion {
		height: fit-content;
		gap: 3rem;

		.image-area {
			display: flex;
			flex-direction: column;
			height: fit-content;
			position: inherit;
			gap: 2rem;

			&>div.product_element {
				position: inherit;
				width: fit-content;
				gap: 2rem;
				display: flex;
				align-items: center;

				&>div:nth-of-type(1) {
					width: 50% !important;
					height: unset !important;
					display: grid;
					place-content: center;
				}

				&>div:nth-of-type(2) {
					text-align: start;
					padding-top: 0 !important;
					max-width: none !important;
				}
			}

			&>div.product_element:nth-of-type(2) {
				margin-left: 15%;
			}

			&>div.product_element:nth-of-type(3) {
				margin-left: 25%;
			}

			&>div.product_element:nth-of-type(4) {
				margin-left: 35%;
			}

			&>div.product_element:nth-of-type(5) {
				margin-left: 45%;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#occasion {
		.image-area {
			&>div.product_element {
				margin-left: 15% !important;
			}

			&>div.product_element:nth-of-type(1) {
				margin-left: 0% !important;

				&>div:nth-of-type(1) {
					width: 60% !important;
				}

				&>div:nth-of-type(2) {
					font-size: 3.5rem !important;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#occasion {
		.image-area {
			gap: 3rem;

			&>div.product_element {
				flex-direction: column;
				margin-left: 0 !important;
				width: 100%;
				gap: 1rem;

				&>div:nth-of-type(1) {
					width: 100% !important;
					margin: 0;
					place-content: unset;
				}

				&>div:nth-of-type(2) {
					width: 100% !important;
				}
			}

			&>div.product_element:nth-of-type(1) {
				&>div:nth-of-type(1) {
					width: 100% !important;
				}
			}
		}

		.btn {
			a {
				width: 100%;
			}
		}
	}
}
